extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let goatid = toShow._id
    - let goat_color = toShow.goat_color
    - let goat_breed = toShow.goat_breed
    - let goat_price = toShow.goat_price
    - let actionid = "/resource/goats/" + goatid
    script let actionid = "#{actionid}"
    div
     div.row 
      div(class='goatAttr mr-3') goat ID is:
      div #{goatid}
     div.row
      div(class='goatAttr mr-3') goat color is:
      div #{goat_color}
     div.row
      div(class='goatAttr mr-3') goat breed is:
      div #{goat_breed}
     div.row
      div(class='goatAttr mr-3') goat Price is:
      div #{goat_price}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
   function cancel() {
    window.location.href='/goats'
    }
  script.
    function deleteOnid() {
     console.log("starting delete")
     fetch(actionid, {
      method: 'DELETE'
     }).then((resp) => {
        return resp.json();
     }).then((body) => {
        alert("Delete succeded")
        window.location.href='/goat'
     }).catch((error) => {
        alert("Delete failed " + error )
     });
    }

    